<div class="load-btn-container">
  <button mat-button (click)="loadStudents()" color="primary" class="load-btn">
    <span>Load All Students</span>
    <mat-icon>autorenew</mat-icon>
  </button>
</div>

<div class="student-container">
  <div class="student-section">
    <mat-list class="student-list">
      <mat-list-item
        *ngFor="let student of summary"
        (click)="loadStudent(student)"
        class="students"
        [class.selected]="student === selectedStudent"
        ><div class="student-name">{{ studentFullName(student) }}</div>
        <mat-icon
          matListItemIcon
          fontIcon="delete"
          color="warn"
          class="delete-student"
          (click)="deleteStudent(student.id); $event.stopImmediatePropagation()"
        ></mat-icon>
      </mat-list-item>
    </mat-list>
    <div class="form-action-container">
      <button
        mat-flat-button
        color="accent"
        class="create-btn"
        [disabled]="!canCreate"
        (click)="createNewStudent()"
      >
        CREATE
      </button>
    </div>
  </div>
  <div class="student-section">
    <ng-container *ngIf="editedStudent">
      <h2>
        {{ title }}
      </h2>
      <form class="edit" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            autofocus
            [(ngModel)]="editedStudent.lastName"
            [ngModelOptions]="{ standalone: true }"
        /></mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            [(ngModel)]="editedStudent.firstName"
            [ngModelOptions]="{ standalone: true }"
        /></mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            [(ngModel)]="editedStudent.email"
            [ngModelOptions]="{ standalone: true }"
        /></mat-form-field>

        <div class="form-action-container">
          <button
            mat-flat-button
            type="submit"
            color="accent"
            [disabled]="!canSubmit"
          >
            SUBMIT
          </button>
          <button
            mat-stroked-button
            type="button"
            color="accent"
            (click)="cancelEditing()"
          >
            CANCEL
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
