:host {
  flex: 1 1 100%;
  flex-direction: column;
  display: flex;
}

.load-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.student-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  overflow: hidden;
  padding: 5px 0;
}

.student-section {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 0 5px;
}
