:host {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 25px;
  background-color: darkslategrey;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

button {
  width: 100px;
}

.news-container {
  flex: 1 1 100%;
  color: bisque;
  text-align: center;
}
