<div class="load-btn-container">
  <button
    mat-button
    (click)="loadInitialData()"
    color="primary"
    class="load-btn"
  >
    <span>Load All Professions</span>
    <mat-icon>autorenew</mat-icon>
  </button>
</div>

<div class="profession-container">
  <div class="profession-section">
    <mat-list class="profession-list">
      <mat-list-item
        *ngFor="let profession of summary"
        class="professions"
        [class.selected]="profession === selectedProfession"
      >
        <a
          class="profession-name"
          routerLink="/professions"
          [queryParams]="{ id: profession.id }"
          >{{ profession.description }}</a
        >
        <mat-icon
          *ngIf="isReadMode"
          matListItemIcon
          fontIcon="delete"
          color="warn"
          class="delete-profession"
          (click)="
            $event.stopImmediatePropagation(); deleteProfession(profession.id)
          "
        ></mat-icon>
      </mat-list-item>
    </mat-list>
    <div class="form-action-container">
      <button
        mat-flat-button
        color="accent"
        class="create-btn"
        [disabled]="!canCreate"
        (click)="createNewProfession()"
      >
        CREATE
      </button>
    </div>
  </div>
  <div class="profession-section">
    <ng-container *ngIf="editedProfession">
      <h2>
        {{ title }}
      </h2>
      <form class="edit" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            autofocus
            [(ngModel)]="editedProfession.description"
            [ngModelOptions]="{ standalone: true }"
        /></mat-form-field>
        <!-- <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            [(ngModel)]="editedProfession.firstName"
            [ngModelOptions]="{ standalone: true }"
        /></mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Profession</mat-label>
          <mat-select
            [(ngModel)]="editedProfession.profession"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let p of professions" [value]="p">
              {{ p.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            [(ngModel)]="editedProfession.email"
            [ngModelOptions]="{ standalone: true }"
        /></mat-form-field> -->

        <div class="form-action-container">
          <button
            mat-flat-button
            type="submit"
            color="accent"
            [disabled]="!canSubmit"
          >
            SUBMIT
          </button>
          <button
            mat-stroked-button
            type="button"
            color="accent"
            (click)="cancelEditing()"
          >
            CANCEL
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
